pkgbase = tydora-bin
	pkgdesc = A modern Markdown editor built with Tauri: WYSIWYG and source modes, wiki-links, graph, canvas, terminal
	pkgver = 0.2.9
	pkgrel = 1
	url = https://github.com/zuorn/Tydora
	arch = x86_64
	arch = aarch64
	license = Apache
	depends = gtk3
	depends = libsoup3
	depends = openssl
	depends = webkit2gtk-4.1
	depends = xdg-utils
	optdepends = nodejs: publish features (needs the markdown-publish CLI)
	provides = tydora
	conflicts = tydora
	options = !strip
	options = !debug
	source_x86_64 = tydora-bin-0.2.9.deb::https://github.com/zuorn/Tydora/releases/download/v0.2.9/03-Tydora_0.2.9_amd64.deb
	source_aarch64 = tydora-bin-0.2.9.deb::https://github.com/zuorn/Tydora/releases/download/v0.2.9/03-Tydora_0.2.9_arm64.deb
	sha256sums_x86_64 = f6b3f8e7ed966561af9c05993c0a9779d6c78d4043e312d3b79f77d6d87fa88b
	sha256sums_aarch64 = 45558f2dc9efaab68f6cb0538ddd79f7b0f84a3c8770494a7787eb39e7d1285f

pkgname = tydora-bin
